#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#pantalla {
  width: 47.5%;
  padding: 0 5px;
  text-align: right;
  height: 20px;
  overflow: hidden;
 direction:rtl;
}


.teclado {
  display: grid;
  grid-template-areas:
    'a b c'
    'd e f'
    'g h i'
    'j k l'
    'm n o'
    'p q r'
    's t u';
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
  gap: 1px;
}

#C {
  grid-area: a;
}
#CE {
  grid-area: b;
}
#multi {
  grid-area: c;
}
#cero {
  grid-area: q;
}
#suma {
  grid-area: d;
}
#resta {
  grid-area: e;
}
#divi {
  grid-area: f;
}
#potencia{
grid-area: s;
}
#cuadrado{
grid-area: t;
}

#negativo{
  grid-area: u;
}
